<?xml version="1.0"?>
<config>
  <modules>
    <Topcontact_Contactus>
      <version>0.1.0</version>
    </Topcontact_Contactus>
  </modules>
  <frontend>
    <routers>
      <contactus>
        <use>standard</use>
          <args>
            <module>Topcontact_Contactus</module>
            <frontName>contactus</frontName>
          </args>
      </contactus>
    </routers>
		<layout>
		  <updates>
			<contactus>
			  <file>contactus.xml</file>
			</contactus>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <contactus>
        <class>Topcontact_Contactus_Helper</class>
      </contactus>
    </helpers>
	<blocks>
	  <contactus>
		<class>Topcontact_Contactus_Block</class>
	  </contactus>
	</blocks>
  </global>
</config> 